* {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        text-decoration: none;
}

/* #profile_picture {
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    background-color: rgb(71, 70, 70);
} */



.to_align {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
}

nav {
        display: flex;
        height: 10vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: white;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);

        z-index: 2;
        /* position: absolute;   */
        /* padding-top: 50px; */
}

.nav_items {
        color: black;
}

.nav_items :hover {
        color: red;
}

.hero {
        /* background-color: rgb(255, 255, 255); */
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: white;
        /* box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1); */


}

.typewrite{
    color: rgb(156, 25, 2);    
}

.hero_items {
        /* position: relative; */
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
}

.bg_hero {
        position: absolute;
        top: 40px;
        right: 50px;
        /* background-color: rgb(241, 138, 154); */

}

.text_on_hero {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 200px;


}

.about_me {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        margin-left: 20%;
        column-gap: 10%;
        position: relative;
        top: 20%;
        justify-content: center;
        /* justify-content: center; */
}

.buttons {
        display: flex;
        column-gap: 20px;
}

.button {
        background-color: rgb(156, 25, 2);
        color: white;
        /* height: ; */
        border: none;
        width: 150px;
        height: 50px;
        font-size: 18px;
}

.button2 {
        background-color: white;
        color: black;
        /* height: ; */
        border: none;
        width: 150px;
        height: 50px;
        border: 2px solid rgb(156, 25, 2);
        font-size: 18px;
}

.background {
        border: 5px solid rgb(156, 25, 2);
        height: 400px;
        width: 400px;
        position: abso;
        top: 100px;

}

/* .bg-image {
    height: 400px;
    width: 300p2;
    top: -200px;
    left: 25px;
} */
.second_section {
        height: 70vh;
        background-color: rgb(241, 240, 240);

}

.space {
        padding-top: 30px;
}

.opaquify {
        opacity: 0.9;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      

      

.third_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-top: -10%; */
        row-gap: 20px;
        background-color: white;
        height: 100vh;
}

.portfolio {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 40px;
        padding: 20px;
}

.banner_bg {
        background-color: white;
        height: 330px;
        width: 360px;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
        text-align: center;
}

.text_width {
        width: 50%;
}

.forth_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        padding-top: 50px;
        background-color: rgb(241, 240, 240);
}

.image_container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 40px;
        padding: 20px;

}

.content_box {
        background-color: white;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.images{
   background-color: #41A4F5;
   width: 70px;
   height: 70px;
   border-radius: 50px;
   position: relative;
}